// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$zero-brown: #846233;

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;
$light: $gray-100 !default;
$dark: $gray-800 !default;


// Body
$body-bg: #343a40; // #f8fafc;

// Your variable overrides
$body-bg: #000;
$body-color: #111;

$theme-colors: (
    "zero-brown": $zero-brown,
    "black": #000,
);


// Typography
$font-family-sans-serif: 'Mulish', sans-serif;
$font-size-base: 1.08rem;
$line-height-base: 1.6;
$enable-responsive-font-sizes: true;

$dropdown-bg: $dark;
$dropdown-link-color: $light;

// Dropdowns
//
// Dropdown menu container and contents.

//$dropdown-min-width: 10rem !default;
//$dropdown-padding-y: .5rem !default;
//$dropdown-spacer: .125rem !default;
//$dropdown-font-size: $font-size-base !default;
//$dropdown-color: $body-color !default;
//$dropdown-bg: $white !default;
//$dropdown-border-color: rgba($black, .15) !default;
//$dropdown-border-radius: $border-radius !default;
//$dropdown-border-width: $border-width !default;
//$dropdown-inner-border-radius: subtract($dropdown-border-radius, $dropdown-border-width) !default;
//$dropdown-divider-bg: $gray-200 !default;
//$dropdown-divider-margin-y: $nav-divider-margin-y !default;
//$dropdown-box-shadow: 0 .5rem 1rem rgba($black, .175) !default;
//
//$dropdown-link-color: $gray-900 !default;
//$dropdown-link-hover-color: darken($gray-900, 5%) !default;
//$dropdown-link-hover-bg: $gray-100 !default;
//
//$dropdown-link-active-color: $component-active-color !default;
//$dropdown-link-active-bg: $component-active-bg !default;
//
//$dropdown-link-disabled-color: $gray-600 !default;
//
//$dropdown-item-padding-y: .25rem !default;
//$dropdown-item-padding-x: 1.5rem !default;
//
//$dropdown-header-color: $gray-600 !default;
//$dropdown-header-padding: $dropdown-padding-y $dropdown-item-padding-x !default;




$navbar-dark-color:                 rgba($white, .8);
$navbar-dark-hover-color:           $zero-brown;
$navbar-dark-active-color:          $white;
//$navbar-dark-disabled-color:        rgba($white, .25) !default;
//$navbar-dark-toggler-icon-bg:       url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'><path stroke='#{$navbar-dark-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>") !default;
//$navbar-dark-toggler-border-color:  rgba($white, .1) !default;
